.vscode
base_model/*
model/*
saved_models/
saved_poison_models/
log/*
*_log/
dataset/c/*
dataset/java/*
tensorboard/*
__pycache__

*.out
*.tar.gz
*.jsonl
.vscode/*
ropgen/*
Clone/*
Translate/*
Summarize/*
Refine/*
Search/*
*/saved_models/*
Defect/CodeT5/sh/saved_models/*
Defect/CodeT5/sh/tensorboard/*
Defect/dataset/c/*
*.bin
*.txt
